@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');


h2{
font-family: roboto-regular;
}



body {
    font-family: 'Josefin Sans', sans-serif;
}


#manix{
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    width: 935px;
    margin: auto;
}

#main{
    border: 2px solid rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px 5px;
    justify-content: center;
    max-width: 615px;
    margin: auto;
}

.sub{

    width: 300px;
    height: 300px;
    background-color: rgb(125, 238, 125);
    overflow: hidden;
    border: 3px solid;
    border-radius: 15px;
    margin: auto;
}

#comp 
{
    width:240px;
    height:240px;
    background-size: 100% 100%;
    background-image:url('../img/comp.fw.png');
    display: flex;
    align-items: center;
    justify-content: center;
}

#point 
{
    width:22px;
    height:145px;
    background-size: 100% 100%;
    background-image:url('../img/point.fw.png');
    transition: all 0.5s ease-in-out;
}



#termo 
{
    width:210px;
    height:500px;
    background-size: 100% 100%;
    background-image:url('../img/termo.fw.png');
    display: flex;
    justify-content: right;
}

#indic  
{
    width:135px;
    height:65px;
    background-size: 100% 100%;
    background-image:url('../img/indic.fw.png');
    transition: all 0.5s ease-in-out;
    position: relative;
}



#particles 
{
    width:210px;
    height:500px;
    background-size: 100% 100%;
    background-image:url('../img/termo.fw.png');
    display: flex;
    justify-content: right;
}




#taco 
{
    width:240px;
    height:240px;
    background-size: 100% 100%;
    background-image:url('../img/taco.fw.png');
    display: flex;
    align-items: center;
    justify-content: center;
}

#agun 
{
    width:18px;
    height:160px;
    background-size: 100% 100%;
    background-image:url('../img/agun.fw.png');
    transition: all 0.5s ease-in-out;
}


#lamp 
{
    width:250px;
    height:250px;
    background-size: 100% 100%;
    background-image:url('../img/lamp.fw.png');
    display: flex;
    align-items: center;
    justify-content: center;
}

#resp 
{
    width:230px;
    height:210px;
    background-size: 100% 100%;
    background-image:url('../img/resp.fw.png');
    transition: all 0.5s ease-in-out;
    opacity: 0.9;
}

.contix{
    height: 55px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 3px;
    overflow: hidden;
}

.der{
    height: 100%;
    width: 100%;
    background-color:rgb(255, 255, 255);
    
    text-align: center;
    line-height:65px;
    font-size: 35px;
}

.izq{
    height: 100%;
    width: 100%;
    background-color:rgb(194, 105, 230);

    border: solid;
    border-width: 5px;
    border-color: rgb(159, 19, 214);
    border-bottom: none;
    border-top: none;
    border-left: none;

    text-align: center;
    line-height:65px;
    font-size: 20px;
    word-wrap: break-word;
}




.sep{
    height: 7px;
    width: 100%;
    background-color:rgb(159, 19, 214);
}

#top
{
    height: 150px;
    width: 935px;
    margin: auto;
    border-radius: 15px;
    background-color:rgb(159, 19, 214);

    text-align: center;
    line-height:160px;
    font-size: 70px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 0px;
}


#menu{

    width: 935px;
    margin: auto;

    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 25px;
    
}







.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: yellowgreen;
    color: white;
  }